{% extends "pocetna.html" %}
{% block content %}
<div class="card">
    <header class="card-header">
        <p class="card-header-title">Prijava</p>
    </header>
    <div class="card-content">
        <div class="content">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button is-info" type="submit">Prijavi se</button>
            </form>
            <p>Ako nemate racun, <a href="{% url 'drustvena_mrezaApp:register' %}">registrirajte se ovdje</a>.</p>
        </div>
    </div>
</div>
{% endblock %}