{% extends 'pocetna.html' %}

{% block content %}
<div class="columns">
    <div class="column is-two-thirds">
        <h2 style="color:white;">Moje objave</h2>
        <div class="content">
            {% for post in posts %}
            <div class="box">
                {{ post.sadrzaj }}
                <span class="is-small has-text-grey-light">
                    ({{ post.datum_objave }})
                </span>
                <!-- Edit and Delete icons -->
                {% if user == post.user %}
                <a href="{% url 'drustvena_mrezaApp:edit_post' post.id %}"><i class="fas fa-edit"></i></a>
                <a href="{% url 'drustvena_mrezaApp:delete_post' post.id %}"><i class="fas fa-trash-alt"></i></a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="column is-one-third">
        <h2 style="color:white;">Pratim</h2>
        {% for user in following_users %}
        <div class="user">
            <h3 style="color:white;">{{ user.username }}</h3>
        </div>
        {% empty %}
        <p style="color:white;">Ne pratite nikoga.</p>
        {% endfor %}
    </div>
</div>

<!-- Button to trigger the form -->
<button id="new-post-button" class="button is-info is-outlined">New Post</button>

<!-- Form for new post -->
<div id="new-post-form" class="box has-background-dark" style="display:none;">
    <form method="post">
        {% csrf_token %}
        <div class="field">
            <label class="label has-text-white">Content</label>
            <div class="control">
                <textarea class="textarea has-fixed-size has-background-grey-darker has-text-white"
                    name="{{ form.sadrzaj.name }}" rows="4"></textarea>
            </div>
        </div>
        <div class="field">
            <label class="label has-text-white">Privacy</label>
            <div class="control">
                {{ form.privacy }}
            </div>
        </div>
        <div class="field">
            <label class="label has-text-white">Category</label>
            <div class="control">
                {{ form.category }}
            </div>
        </div>
        <button type="submit" class="button is-info">Submit</button>
    </form>
</div>
<!-- Script to toggle form visibility -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        console.log("Document is ready");
        document.getElementById("new-post-button").addEventListener("click", function () {
            console.log("Button clicked");
            var form = document.getElementById("new-post-form");
            form.style.display = form.style.display === "none" ? "block" : "none";
        });
    });
</script>
{% endblock %}