{% extends 'pocetna.html' %}

{% block content %}
<div class="columns">
    <div class="column is-two-thirds">
        <div class="block">
            <h1 class="title is-1 has-text-white">
                Objave od {{profil.user.username|upper}}
            </h1>
            <!-- Follow/Unfollow Button -->
            <form method="post"
                action="{% if is_following %}{% url 'drustvena_mrezaApp:unfollow' profil.pk %}{% else %}{% url 'drustvena_mrezaApp:follow' profil.pk %}{% endif %}">
                {% csrf_token %}
                <button type="submit" id="follow-button" class="button is-info">
                    {% if is_following %}
                    Odprati
                    {% else %}
                    Zaprati
                    {% endif %}
                </button>
            </form>
        </div>
        <div class="content">
            {% for objava in profil.user.objave.all %}
            <div class="box">
                {{ objava.sadrzaj }}
                <span class="is-small has-text-grey-light">
                    ({{ objava.datum_objave }})
                </span>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="column">
        <div class="block">
            <h3 class="title is-4 has-text-white">
                {{profil.user.username}} prati:
            </h3>
            <div class="list is-hoverable">
                {% for profil in following_users %}
                <a class="list-item has-text-white">
                    {{ profil.user.username }}
                </a>
                {% empty %}
                <a class="list-item has-text-white">Not following anyone yet.</a>
                {% endfor %}
            </div>
        </div>

        <div class="block">
            <h3 class="title is-4 has-text-white">
                Pratitelji od {{profil.user.username}}:
            </h3>
            <div class="list is-hoverable">
                {% for profil in followed_by_users %}
                <a class="list-item has-text-white">
                    {{ profil.user.username }}
                </a>
                {% empty %}
                <a class="list-item has-text-white">No followers yet.</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}